# Exploratory Data Analysis — Kat Hanner 
### — updated: 6:05pm EDT on June 16, 2020

## Initial data discovery

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import os
import sqlite3

In [2]:
df_bomGross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
print('BOM Movie Gross Shape: ', df_bomGross.shape)
print('BOM Movie Gross Info: ', df_bomGross.info())
df_bomGross.head()

BOM Movie Gross Shape:  (3387, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
BOM Movie Gross Info:  None

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [3]:
#convert tsv to csv

tsv_file = './zippedData/rt.movie_info.tsv.gz'
convert = pd.read_table(tsv_file, delimiter='\t')
convert.to_csv('./zippedData/rt.movie_info.csv.gz')
newdf = pd.read_csv('./zippedData/rt.movie_info.csv.gz')
newdf.info()

#coding a loop: try later
# for file in datafiles:
    # d_tsv[file] = pd.read_csv(file, sep='\t')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1560 non-null   int64
 1   id            1560 non-null   int64
 2   synopsis      1498 non-null   object
 3   rating        1557 non-null   object
 4   genre         1552 non-null   object
 5   director      1361 non-null   object
 6   writer        1111 non-null   object
 7   theater_date  1201 non-null   object
 8   dvd_date      1201 non-null   object
 9   currency      340 non-null    object
 10  box_office    340 non-null    object
 11  runtime       1530 non-null   object
 12  studio        494 non-null    object
dtypes: int64(2), object(11)
memory usage: 158.6+ KB

In [4]:
tsv_file_r = './zippedData/rt.reviews.tsv.gz'
convert_r = pd.read_table(tsv_file_r, delimiter='\t', encoding = 'unicode_escape')
convert_r.to_csv('./zippedData/rt.reviews.csv.gz')
newdf_r = pd.read_csv('./zippedData/rt.reviews.csv.gz')
newdf_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  54432 non-null  int64
 1   id          54432 non-null  int64
 2   review      48869 non-null  object
 3   rating      40915 non-null  object
 4   fresh       54432 non-null  object
 5   critic      51710 non-null  object
 6   top_critic  54432 non-null  int64
 7   publisher   54123 non-null  object
 8   date        54432 non-null  object
dtypes: int64(3), object(6)
memory usage: 3.7+ MB

In [5]:
from glob import glob #finds all pathnames
datafiles = glob('./zippedData/*.csv.gz')
datafiles

['./zippedData/rt.reviews.csv.gz',
 './zippedData/imdb.title.crew.csv.gz',
 './zippedData/rt.movie_info.csv.gz',
 './zippedData/tmdb.movies.csv.gz',
 './zippedData/imdb.title.akas.csv.gz',
 './zippedData/imdb.name.basics.csv.gz',
 './zippedData/imdb.title.basics.csv.gz',
 './zippedData/tn.movie_budgets.csv.gz',
 './zippedData/bom.movie_gross.csv.gz',
 './zippedData/imdb.title.principals.csv.gz']

In [6]:
datafiles_tsv = glob('./zippedData/*.tsv.gz')
datafiles_tsv

['./zippedData/rt.reviews.tsv.gz', './zippedData/rt.movie_info.tsv.gz']

In [7]:
type(datafiles)
d = {} #creates dictionary 
## d_tsv = {} #tried to create dictionary for tsv files; preference for just converting all files to the same file type

In [8]:
for file in datafiles:
    d[file] = pd.read_csv(file)
    ## d_tsv[file] = pd.read_table(file, delimiter='\t') #tried to loop through tsv dictionary; fail

In [9]:
d.keys()
## d_tsv.keys() #d_tsv dictionary failed

dict_keys(['./zippedData/rt.reviews.csv.gz', './zippedData/imdb.title.crew.csv.gz', './zippedData/rt.movie_info.csv.gz', './zippedData/tmdb.movies.csv.gz', './zippedData/imdb.title.akas.csv.gz', './zippedData/imdb.name.basics.csv.gz', './zippedData/imdb.title.basics.csv.gz', './zippedData/tn.movie_budgets.csv.gz', './zippedData/bom.movie_gross.csv.gz', './zippedData/imdb.title.principals.csv.gz'])

In [10]:
type(datafiles)

list

In [11]:
datafiles_dict = {}
for filename in datafiles:
    filename_cleaned = os.path.basename(filename).replace(".csv", "").replace(".gz", "").replace(".", "_") # cleaning the filenames
    filename_df = pd.read_csv(filename)
    datafiles_dict[filename_cleaned] = filename_df

In [12]:
datafiles_dict.keys()

dict_keys(['rt_reviews', 'imdb_title_crew', 'rt_movie_info', 'tmdb_movies', 'imdb_title_akas', 'imdb_name_basics', 'imdb_title_basics', 'tn_movie_budgets', 'bom_movie_gross', 'imdb_title_principals'])

In [13]:
print(datafiles_dict['imdb_title_crew'].keys())
#datafiles_dict['imdb_title_crew'].info()

Index(['tconst', 'directors', 'writers'], dtype='object')

In [14]:
conn = sqlite3.connect("movies_db.sqlite")

In [15]:
def create_sql_table_from_df(df, name, conn):
    try:
        df.to_sql(name, conn)
        print(f"Created table {name}")
    
    except Exception as e:
        print(f"could not make table {name}")
        print(e)

In [16]:
for name, table in datafiles_dict.items():
    create_sql_table_from_df(table, name, conn)

/Users/kathanner/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

Created table rt_reviews
Created table imdb_title_crew
Created table rt_movie_info
Created table tmdb_movies
Created table imdb_title_akas
Created table imdb_name_basics
Created table imdb_title_basics
Created table tn_movie_budgets
Created table bom_movie_gross
Created table imdb_title_principals

In [17]:
conn.execute("select name from sqlite_master where type='table';").fetchall()

[('rt_reviews',),
 ('imdb_title_crew',),
 ('rt_movie_info',),
 ('tmdb_movies',),
 ('imdb_title_akas',),
 ('imdb_name_basics',),
 ('imdb_title_basics',),
 ('tn_movie_budgets',),
 ('bom_movie_gross',),
 ('imdb_title_principals',)]

In [18]:
for item in datafiles_dict.items():
        print("===============New DF===============")
        print(item[0])
        print(item[1].info())
        print("================End DF===============")

===============New DF===============
rt_reviews
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  54432 non-null  int64
 1   id          54432 non-null  int64
 2   review      48869 non-null  object
 3   rating      40915 non-null  object
 4   fresh       54432 non-null  object
 5   critic      51710 non-null  object
 6   top_critic  54432 non-null  int64
 7   publisher   54123 non-null  object
 8   date        54432 non-null  object
dtypes: int64(3), object(6)
memory usage: 3.7+ MB
None
================End DF===============
===============New DF===============
imdb_title_crew
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tconst     146144 non-null  object
 1   directors  140417 non-null  object
 2   writers    110261 non-null  object
dtypes: object(3)
memory usage: 3.3+ MB
None
================End DF===============
===============New DF===============
rt_movie_info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1560 non-null   int64
 1   id            1560 non-null   int64
 2   synopsis      1498 non-null   object
 3   rating        1557 non-null   object
 4   genre         1552 non-null   object
 5   director      1361 non-null   object
 6   writer        1111 non-null   object
 7   theater_date  1201 non-null   object
 8   dvd_date      1201 non-null   object
 9   currency      340 non-null    object
 10  box_office    340 non-null    object
 11  runtime       1530 non-null   object
 12  studio        494 non-null    object
dtypes: int64(2), object(11)
memory usage: 158.6+ KB
None
================End DF===============
===============New DF===============
tmdb_movies
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB
None
================End DF===============
===============New DF===============
imdb_title_akas
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   title_id           331703 non-null  object
 1   ordering           331703 non-null  int64
 2   title              331703 non-null  object
 3   region             278410 non-null  object
 4   language           41715 non-null   object
 5   types              168447 non-null  object
 6   attributes         14925 non-null   object
 7   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB
None
================End DF===============
===============New DF===============
imdb_name_basics
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   nconst              606648 non-null  object
 1   primary_name        606648 non-null  object
 2   birth_year          82736 non-null   float64
 3   death_year          6783 non-null    float64
 4   primary_profession  555308 non-null  object
 5   known_for_titles    576444 non-null  object
dtypes: float64(2), object(4)
memory usage: 27.8+ MB
None
================End DF===============
===============New DF===============
imdb_title_basics
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB
None
================End DF===============
===============New DF===============
tn_movie_budgets
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB
None
================End DF===============
===============New DF===============
bom_movie_gross
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB
None
================End DF===============
===============New DF===============
imdb_title_principals
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   tconst      1028186 non-null  object
 1   ordering    1028186 non-null  int64
 2   nconst      1028186 non-null  object
 3   category    1028186 non-null  object
 4   job         177684 non-null   object
 5   characters  393360 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.1+ MB
None
================End DF===============

In [19]:
cur = conn.cursor()

In [20]:
cur.execute("""
SELECT *
FROM bom_movie_gross
; """)
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

,index,title,studio,domestic_gross,foreign_gross,year
0,0,Toy Story 3,BV,415000000.0,652000000,2010
1,1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,3,Inception,WB,292600000.0,535700000,2010
4,4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...,...
3382,3382,The Quake,Magn.,6200.0,None,2018
3383,3383,Edward II (2018 re-release),FM,4800.0,None,2018
3384,3384,El Pacto,Sony,2500.0,None,2018
3385,3385,The Swan,Synergetic,2400.0,None,2018
3386,3386,An Actor Prepares,Grav.,1700.0,None,2018

### plots still outstanding

#### -----

## Findings/Questions recommendations for the team to consider

Finding: Genres that yield highest net profit
* Genres by year
    * Review net loss
    * Review net gain
* Genres by runtime
    * Review net loss
    * Review net gain

Finding: How do top ratings and reviews affect profit / Popular vote
* Rating by audience
    * Review professional critique 
    * Review user-generated review/rating aka Audience Score

Finding: A director’s impact on the bottom line
* Do these match? Director’s involved in
    * Highest net profit films
    * Top-rated film
        * Review known_for_titles
* If no pattern is established, does the director consistently influence either
    * Highest net profit films
    * Top-rated film

Future Finding: Cross-platform integration based on character recognition 
* Compare ratings and profit
    * Review characters and known_for_titles
    * Add data for cross-platform offering based on
        * Top-rated films
        * Highest net profit films

Conclusion: recommend genres to produce based on ratings and suggest approach to hiring directors