# Genres that yield highest net profit

brief description

## import the data

In [2]:
#necessary imports

import sqlite3
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from glob import glob

In [2]:
#converts tsv files

tsv_file = './zippedData/rt.movie_info.tsv.gz'
convert = pd.read_table(tsv_file, delimiter='\t')
convert.to_csv('./zippedData/rt.movie_info.csv.gz')

tsv_file_r = './zippedData/rt.reviews.tsv.gz'
convert_r = pd.read_table(tsv_file_r, delimiter='\t', encoding = 'unicode_escape')
convert_r.to_csv('./zippedData/rt.reviews.csv.gz')

In [3]:
#importing data using glob

datafiles = glob("./zippedData/*.csv.gz")
datafiles

['./zippedData/rt.reviews.csv.gz',
 './zippedData/imdb.title.crew.csv.gz',
 './zippedData/rt.movie_info.csv.gz',
 './zippedData/tmdb.movies.csv.gz',
 './zippedData/imdb.title.akas.csv.gz',
 './zippedData/imdb.name.basics.csv.gz',
 './zippedData/imdb.title.basics.csv.gz',
 './zippedData/tn.movie_budgets.csv.gz',
 './zippedData/bom.movie_gross.csv.gz',
 './zippedData/imdb.title.principals.csv.gz']

In [4]:
datafiles_dict = {}
for filename in datafiles:
    filename_cleaned = os.path.basename(filename).replace(".csv", "").replace(".gz", "").replace(".", "_") # cleaning the filenames
    filename_df = pd.read_csv(filename)
    datafiles_dict[filename_cleaned] = filename_df

In [5]:
print(datafiles_dict.keys())

dict_keys(['rt_reviews', 'imdb_title_crew', 'rt_movie_info', 'tmdb_movies', 'imdb_title_akas', 'imdb_name_basics', 'imdb_title_basics', 'tn_movie_budgets', 'bom_movie_gross', 'imdb_title_principals'])

## Overall, what are the top 5 grossing films?

In [7]:
code here: JOE

AttributeError: 'list' object has no attribute 'info'

***Findings***: write summary here

### If available, what are the genres of those top 5 grossing films?

In [ ]:
code here: KAT

***Findings***: Leveraged the [imdb_title_basics] dataset to find the titles from top 5 grossing films and noted identified genres for each film

## Top 5 grossing films by year

### What are the titles of the films?

In [22]:
conn = sqlite3.connect('movie.db') 
cur = conn.cursor()

cur.execute(""" 
SELECT 
  DISTINCT year, domestic_gross, movie
FROM tn_movie_budgets 
ORDER BY domestic_gross DESC
;
""")

dft = pd.DataFrame(cur.fetchall())
dft.columns = (x[0] for x in cur.description)
#print(dft.shape)
#print(dft.info())

dft.head()

    year  domestic_gross                                 movie
0   2015       936662225  Star Wars Ep. VII: The Force Awakens
1   2009       760507625                                Avatar
2   2018       700059566                         Black Panther
3   2018       678815482                Avengers: Infinity War
4   1997       659363944                               Titanic

### What was the production cost?

In [23]:
conn = sqlite3.connect('movie.db') 
cur = conn.cursor()

cur.execute(""" 
SELECT 
  DISTINCT year, production_budget, movie
FROM tn_movie_budgets 
ORDER BY domestic_gross DESC
;
""")

dft = pd.DataFrame(cur.fetchall())
dft.columns = (x[0] for x in cur.description)
#print(dft.shape)
#print(dft.info())

dft.head()

    year  production_budget                                 movie
0   2015          306000000  Star Wars Ep. VII: The Force Awakens
1   2009          425000000                                Avatar
2   2018          200000000                         Black Panther
3   2018          300000000                Avengers: Infinity War
4   1997          200000000                               Titanic

***Findings***: write summary here

### What was the runtime?

In [ ]:
code here: KAT

***Findings***: write summary here >> Leveraged the [imdb_title_basics] dataset to find the titles from top 5 grossing films and noted the runtime for each film

## Most recently, what has been the average production cost?

In [ ]:
code here: JOE

***Findings***: write summary here >> [tn_movie_budgets]: use median of production_budget

## Which 5 genres had the highest box office revenue?

In [ ]:
code here: KAT

***Findings***: In the Rotten Tomatoes dataset, Is there a common genre associated with highest box office revenue?

## Data Visualization

In [ ]:
code here

***Findings***: write summary here