In [1]:
#necessary libraries and modules to import

import sqlite3
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from glob import glob

In [2]:
#converts tsv files

tsv_file = './zippedData/rt.movie_info.tsv.gz'
convert = pd.read_table(tsv_file, delimiter='\t')
convert.to_csv('./zippedData/rt.movie_info.csv.gz')

tsv_file_r = './zippedData/rt.reviews.tsv.gz'
convert_r = pd.read_table(tsv_file_r, delimiter='\t', encoding = 'unicode_escape')
convert_r.to_csv('./zippedData/rt.reviews.csv.gz')

In [3]:
#importing batch data using os

csv_files = glob("./zippedData/*.csv.gz")
csv_files

['./zippedData\\bom.movie_gross.csv.gz',
 './zippedData\\imdb.name.basics.csv.gz',
 './zippedData\\imdb.title.akas.csv.gz',
 './zippedData\\imdb.title.basics.csv.gz',
 './zippedData\\imdb.title.crew.csv.gz',
 './zippedData\\imdb.title.principals.csv.gz',
 './zippedData\\rt.movie_info.csv.gz',
 './zippedData\\rt.reviews.csv.gz',
 './zippedData\\tmdb.movies.csv.gz',
 './zippedData\\tn.movie_budgets.csv.gz']

In [4]:
# cleaning the filenames

csv_files_dict = {} #create a dictionary of datasets
for filename in csv_files: #create a for loop to batch clean files
    filename_cleaned = os.path.basename(filename).replace(".csv", "").replace(".", "_") #remove .csv file extensions
    filename_df = pd.read_csv(filename, index_col=0, encoding='utf-8') 
    csv_files_dict[filename_cleaned] = filename_df #load .csv file as dataframe using col 1 as index and encode in utf-8 and save as the cleaned filename

In [5]:
print(csv_files_dict.keys())

dict_keys(['bom_movie_gross_gz', 'imdb_name_basics_gz', 'imdb_title_akas_gz', 'imdb_title_basics_gz', 'imdb_title_crew_gz', 'imdb_title_principals_gz', 'rt_movie_info_gz', 'rt_reviews_gz', 'tmdb_movies_gz', 'tn_movie_budgets_gz'])

In [6]:
bom_movie_gross_df = csv_files_dict['bom_movie_gross_gz']
imdb_name_basics_df = csv_files_dict['imdb_name_basics_gz']
imdb_title_akas_df = csv_files_dict['imdb_title_akas_gz']
imdb_title_basics_df = csv_files_dict['imdb_title_basics_gz']
imdb_title_crew_df = csv_files_dict['imdb_title_crew_gz']
imdb_title_principals_df = csv_files_dict['imdb_title_principals_gz']
rotten_movie_info_df = csv_files_dict['rt_movie_info_gz']
rotten_movie_reviews_df = csv_files_dict['rt_reviews_gz']
tmdb_movies_df = csv_files_dict['tmdb_movies_gz']
tmdb_genre_ids_df = pd.read_json('tmdb_genre_ids.json')
tmdb_languages_df = pd.read_json('tmdb_languages.json')
tn_movie_budgets_df = csv_files_dict['tn_movie_budgets_gz']

rotten_movie_genres_df.head()

rotten_movie_reviews_df.head()

In [7]:
tmdb_movies_df.iloc[50:100,:]

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
50,"[12, 28, 18]",23759,en,Centurion,13.548,2010-02-15,Centurion,6.1,673
51,"[28, 35, 80]",27581,en,The Other Guys,13.508,2010-08-06,The Other Guys,6.2,2187
52,"[80, 18, 53]",23168,en,The Town,13.476,2010-09-17,The Town,7.1,2386
53,"[28, 37, 18, 14, 53]",20533,en,Jonah Hex,13.467,2010-06-18,Jonah Hex,4.6,708
54,"[12, 28, 878]",20526,en,TRON: Legacy,13.459,2010-12-10,TRON: Legacy,6.3,4387
55,"[12, 14, 28, 10749]",9543,en,Prince of Persia: The Sands of Time,13.440,2010-05-27,Prince of Persia: The Sands of Time,6.2,4040
56,"[35, 16, 10751]",9994,en,The Great Mouse Detective,13.348,1986-07-02,The Great Mouse Detective,7.1,769
57,"[14, 18]",7980,en,The Lovely Bones,13.285,2010-01-15,The Lovely Bones,6.8,2226
58,[18],705,en,All About Eve,13.163,2000-10-06,All About Eve,8.2,685
59,"[18, 12, 37]",44264,en,True Grit,13.118,2010-12-22,True Grit,7.2,2816
60,"[53, 80, 27]",43947,en,I Spit on Your Grave,13.102,2010-10-08,I Spit on Your Grave,6.3,977
61,"[28, 80]",23483,en,Kick-Ass,13.080,2010-04-16,Kick-Ass,7.1,7540
62,"[35, 878, 16]",51888,en,Robot Chicken: Star Wars Episode III,13.062,2010-12-19,Robot Chicken: Star Wars Episode III,7.5,60
63,"[28, 9648, 53]",27576,en,Salt,13.025,2010-07-23,Salt,6.3,3240
64,"[10770, 16, 14, 10751]",47626,en,Legend of the BoneKnapper Dragon,13.013,2010-10-15,Legend of the BoneKnapper Dragon,6.4,116
65,"[28, 80, 53]",26389,en,From Paris with Love,12.862,2010-02-05,From Paris with Love,6.2,1075
66,"[28, 16, 9648]",40662,en,Batman: Under the Red Hood,12.704,2010-07-27,Batman: Under the Red Hood,7.7,756
67,"[16, 12, 14, 10751]",42949,en,Arthur 3: la guerre des deux mondes,12.679,2010-08-22,Arthur 3: The War of the Two Worlds,5.6,865
68,"[35, 10751, 14]",23023,en,Tooth Fairy,12.650,2010-01-22,Tooth Fairy,5.3,1058
69,"[28, 35, 53]",23631,en,Machete,12.557,2010-09-03,Machete,6.3,1862
70,"[80, 18, 9648, 10749]",25376,es,El secreto de sus ojos,12.531,2010-04-16,The Secret in Their Eyes,7.9,1141
71,[35],35056,en,Date Night,12.498,2010-04-08,Date Night,6.0,1743
72,"[35, 18]",41733,en,Due Date,12.445,2010-11-04,Due Date,6.3,2973
73,"[28, 878, 53, 80]",31867,en,Repo Men,12.437,2010-03-19,Repo Men,6.2,976
74,"[16, 28]",43641,en,Superman/Shazam!: The Return of Black Adam,12.395,2010-11-09,Superman/Shazam!: The Return of Black Adam,7.1,140
75,[16],28874,ja,サマーウォーズ,12.275,2010-10-13,Summer Wars,7.5,447
76,"[28, 12, 18, 10751]",38575,en,The Karate Kid,12.256,2010-06-10,The Karate Kid,6.3,3140
77,"[35, 10751]",33217,en,Diary of a Wimpy Kid,12.256,2010-03-19,Diary of a Wimpy Kid,6.0,736
78,"[9648, 27, 28]",29427,en,The Crazies,12.246,2010-02-26,The Crazies,6.2,1036
79,"[28, 53, 80, 9648]",33613,sv,Luftslottet som sprängdes,12.235,2010-10-29,The Girl Who Kicked the Hornet's Nest,7.0,705
80,"[35, 10749]",39451,en,Little Fockers,12.153,2010-12-21,Little Fockers,5.6,1883
81,"[28, 12, 35, 80, 53]",39514,en,RED,12.082,2010-10-14,RED,6.6,4162
82,"[18, 10749, 10752]",22971,en,Dear John,12.048,2010-02-04,Dear John,6.8,2676
83,[27],22894,en,Legion,12.032,2010-01-22,Legion,5.3,1154
84,"[12, 14, 16, 878]",37933,ja,ゲド戦記,12.005,2010-08-13,Tales from Earthsea,6.6,502
85,"[10749, 35]",25195,en,Leap Year,11.821,2010-01-08,Leap Year,6.7,990
86,"[35, 10749, 18]",38408,en,Life As We Know It,11.806,2010-10-02,Life As We Know It,6.8,1748
87,"[18, 28, 53, 80, 9648]",24253,sv,Flickan som lekte med elden,11.655,2010-07-09,The Girl Who Played with Fire,7.0,881
88,"[18, 53]",38363,en,Fair Game,11.624,2010-05-20,Fair Game,6.6,384
89,"[35, 10402, 10770]",44244,en,Camp Rock 2: The Final Jam,11.542,2010-09-03,Camp Rock 2: The Final Jam,6.1,878
90,"[10752, 28, 12, 18, 53]",22972,en,Green Zone,11.519,2010-03-11,Green Zone,6.4,1176
91,"[28, 12, 16]",30061,en,Justice League: Crisis on Two Earths,11.498,2010-02-23,Justice League: Crisis on Two Earths,7.2,277
92,"[18, 10749]",23169,en,Remember Me,11.453,2010-03-12,Remember Me,7.1,2079
93,"[12, 18, 53]",44115,en,127 Hours,11.435,2010-11-05,127 Hours,7.0,4469
94,"[9648, 14, 35, 12]",47533,de,Scooby-Doo! Curse of the Lake Monster,11.372,2010-10-15,Scooby-Doo! Curse of the Lake Monster,5.6,171
95,"[35, 27]",43593,en,Piranha 3D,11.302,2010-08-20,Piranha 3D,5.3,1029
96,"[12, 18, 28, 14]",37861,en,Valhalla Rising,11.260,2010-07-16,Valhalla Rising,6.0,582
97,"[80, 18, 9648, 53]",12201,en,Edge of Darkness,11.252,2010-01-29,Edge of Darkness,6.3,794
98,"[14, 12, 28, 9648]",35552,fr,Les Aventures extraordinaires d'Adèle Blanc-Sec,11.221,2010-04-14,The Extraordinary Adventures of Adèle Blanc-Sec,6.0,671
99,"[35, 10749]",32856,en,Valentine's Day,11.187,2010-02-11,Valentine's Day,5.8,1907

In [8]:
tmdb_movies_df.shape

(26517, 9)

In [9]:
tmdb_movies_df['genre_ids'] = tmdb_movies_df['genre_ids'].astype(str)

In [10]:
tmdb_movies_df['genre_ids'] = tmdb_movies_df['genre_ids'].str.strip('[]')
#tmdb_movies_df['genre_ids'] = tmdb_movies_df['genre_ids'].str.strip('')

In [11]:
tmdb_movies_df

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"12, 14, 10751",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"14, 12, 16, 10751",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"12, 28, 878",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"16, 35, 10751",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"28, 878, 12",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...
26512,"27, 18",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,"18, 53",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,"14, 28, 12",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,"10751, 12, 28",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,"53, 27",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [12]:
#split the genre column to individual genre columns
#use a lambda function to split the genre list at the comma

tmdb_movies_df['genre_ids'] = tmdb_movies_df['genre_ids'].apply(lambda x: x.split(", ") if x else x)

tmdb_movies_df.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [13]:
#create a set (unordered) of all genres (no duplicate values) using a for loop

all_genres = set()
for genres in tmdb_movies_df['genre_ids']: #for all genres in the move_details_df 'genres' column
    if genres: #if in genres
        all_genres.update(genres) #add to the set called all_genres

In [14]:
all_genres

{'10402',
 '10749',
 '10751',
 '10752',
 '10770',
 '12',
 '14',
 '16',
 '18',
 '27',
 '28',
 '35',
 '36',
 '37',
 '53',
 '80',
 '878',
 '9648',
 '99'}

In [15]:
#add new genre cols from all_genres set and fill with zero values using numpy with a for loop; 

for genre in all_genres: #for genre in all_genres set
    tmdb_movies_df[genre] = np.zeros(shape=tmdb_movies_df.shape[0]) 
        #create new genre column such that it is filled with zeroes 
        #with a shape equal to first dataframe col
                                
tmdb_movies_df.head() #return first 5 rows of dataframe

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,14,...,10749,80,99,36,35,16,28,27,10402,18
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
#set the genre value to 1 if the film is of that genre with a nested for loop

for index, row in tmdb_movies_df.iterrows(): #for index, row position in dataframe, iterating throw rows
    if row['genre_ids']: #if in genres col
        for genre in row['genre_ids']: #for genre in genres col
            tmdb_movies_df.loc[index, genre] = 1 #set the value of each matching index/genre position to 1

tmdb_movies_df.head() #return first 5 rows of dataframe

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,14,...,10749,80,99,36,35,16,28,27,10402,18
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [17]:
tmdb_genre_ids_df

                                    genres
0             {'id': 28, 'name': 'Action'}
1          {'id': 12, 'name': 'Adventure'}
2          {'id': 16, 'name': 'Animation'}
3             {'id': 35, 'name': 'Comedy'}
4              {'id': 80, 'name': 'Crime'}
5        {'id': 99, 'name': 'Documentary'}
6              {'id': 18, 'name': 'Drama'}
7          {'id': 10751, 'name': 'Family'}
8            {'id': 14, 'name': 'Fantasy'}
9            {'id': 36, 'name': 'History'}
10            {'id': 27, 'name': 'Horror'}
11          {'id': 10402, 'name': 'Music'}
12         {'id': 9648, 'name': 'Mystery'}
13        {'id': 10749, 'name': 'Romance'}
14  {'id': 878, 'name': 'Science Fiction'}
15       {'id': 10770, 'name': 'TV Movie'}
16          {'id': 53, 'name': 'Thriller'}
17            {'id': 10752, 'name': 'War'}
18           {'id': 37, 'name': 'Western'}

In [18]:
keys = tmdb_genre_ids_df.genres.iloc[0].keys() #Get dictionary keys

#Keep track of columns we make for subsequent preview
genre_cols = []

#Create a new feature for each of these keys
for key in keys:
    new_col = 'genres_{}'.format(key) #Create new column name
    tmdb_genre_ids_df[new_col] = tmdb_genre_ids_df.genres.map(lambda x: x[key]) #Create a new column
    genre_cols.append(new_col)
    
tmdb_genre_ids_df[genre_cols]

    genres_id      genres_name
0          28           Action
1          12        Adventure
2          16        Animation
3          35           Comedy
4          80            Crime
5          99      Documentary
6          18            Drama
7       10751           Family
8          14          Fantasy
9          36          History
10         27           Horror
11      10402            Music
12       9648          Mystery
13      10749          Romance
14        878  Science Fiction
15      10770         TV Movie
16         53         Thriller
17      10752              War
18         37          Western

In [30]:
tmdb_genre_cols = tmdb_genre_ids_df[genre_cols]
tmdb_genre_cols

    genres_id      genres_name
0          28           Action
1          12        Adventure
2          16        Animation
3          35           Comedy
4          80            Crime
5          99      Documentary
6          18            Drama
7       10751           Family
8          14          Fantasy
9          36          History
10         27           Horror
11      10402            Music
12       9648          Mystery
13      10749          Romance
14        878  Science Fiction
15      10770         TV Movie
16         53         Thriller
17      10752              War
18         37          Western

In [21]:
genres_dict = dict(zip(tmdb_genre_cols['genres_id'], tmdb_genre_cols['genres_name']))

genres_dict

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [22]:
genres_dict = {str(k): v for k, v in genres_dict.items()}

In [23]:
tmdb_movies_genres_df = tmdb_movies_df.rename(columns=genres_dict)
tmdb_movies_genres_df

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,Fantasy,...,Romance,Crime,Documentary,History,Comedy,Animation,Action,Horror,Music,Drama
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

#tmdb_movies_df.rename(columns={tmdb_genre_cols['genres_id']:tmdb_genre_cols['genres_name']})

keys = tmdb_genre_cols['genres_id']
values = tmdb_genre_cols['genres_name']

genre_names_list = tmdb_genre_cols['genres_name'].tolist()
genre_names_set = set(genre_names_list)
genre_names_set

#add new genre cols from all_genres set and fill with zero values using numpy with a for loop; 

for genre in genre_names_set: #for genre in all_genres set
    tmdb_movies_df[genre] = np.zeros(shape=tmdb_movies_df.shape[0]) 
        #create new genre column such that it is filled with zeroes 
        #with a shape equal to first dataframe col
                                
tmdb_movies_df.head() #return first 5 rows of dataframe

In [24]:
imdb_title_crew_df.head(10)

,directors,writers
tconst,,
tt0285252,nm0899854,nm0899854
tt0438973,NaN,"nm0175726,nm1802864"
tt0462036,nm1940585,nm1940585
tt0835418,nm0151540,"nm0310087,nm0841532"
tt0878654,"nm0089502,nm2291498,nm2292011",nm0284943
tt0879859,nm2416460,NaN
tt0996958,nm2286991,"nm2286991,nm2651190"
tt0999913,nm0527109,"nm0527109,nm0329051,nm0001603,nm0930684"
tt10003792,nm10539228,nm10539228
tt10005130,nm10540239,"nm5482263,nm10540239"

In [25]:
imdb_title_principals_df.head(10)

           ordering     nconst  category       job                characters
tconst
tt0111414         1  nm0246005     actor       NaN               ["The Man"]
tt0111414         2  nm0398271  director       NaN                       NaN
tt0111414         3  nm3739909  producer  producer                       NaN
tt0323808        10  nm0059247    editor       NaN                       NaN
tt0323808         1  nm3579312   actress       NaN          ["Beth Boothby"]
tt0323808         2  nm2694680     actor       NaN         ["Steve Thomson"]
tt0323808         3  nm0574615     actor       NaN  ["Sir Lachlan Morrison"]
tt0323808         4  nm0502652   actress       NaN   ["Lady Delia Morrison"]
tt0323808         5  nm0362736  director       NaN                       NaN
tt0323808         6  nm0811056  producer  producer                       NaN

In [26]:
imdb_title_akas_df.head(50)

,ordering,title,region,language,types,attributes,is_original_title
title_id,,,,,,,
tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
tt0369610,15,Jurassic World,GR,NaN,imdbDisplay,NaN,0.0
tt0369610,16,Jurassic World,IT,NaN,imdbDisplay,NaN,0.0
tt0369610,17,Jurski svijet,HR,NaN,imdbDisplay,NaN,0.0
tt0369610,18,Olam ha'Yura,IL,he,imdbDisplay,NaN,0.0
tt0369610,19,Jurassic World: Mundo Jurásico,MX,NaN,imdbDisplay,NaN,0.0
tt0369610,1,Jurassic World: Sauruste maailm,EE,NaN,imdbDisplay,NaN,0.0
tt0369610,20,Jurassic World,SE,NaN,imdbDisplay,NaN,0.0
tt0369610,21,Jurassic World 3D,US,NaN,NaN,3-D version,0.0
tt0369610,22,Jurassic World 3D,DE,NaN,NaN,3-D version,0.0
tt0369610,23,Jurassic World 3D,XWW,NaN,NaN,3-D version,0.0
tt0369610,24,Juras laikmeta pasaule,LV,NaN,imdbDisplay,NaN,0.0
tt0369610,25,Mundo Jurássico,PT,NaN,imdbDisplay,NaN,0.0
tt0369610,26,Мир Юрского периода,RU,NaN,NaN,NaN,0.0
tt0369610,27,Jurský svět,CZ,NaN,NaN,NaN,0.0
tt0369610,28,Monde jurassique,CA,fr,imdbDisplay,NaN,0.0
tt0369610,29,Jurassic World,US,NaN,NaN,NaN,0.0
tt0369610,2,Ebb Tide,US,NaN,NaN,fake working title,0.0
tt0369610,30,Jurassic World: Mundo Jurásico,CL,NaN,imdbDisplay,NaN,0.0
tt0369610,31,Jurassic World,RO,NaN,imdbDisplay,NaN,0.0
tt0369610,32,Juros periodo pasaulis,LT,NaN,imdbDisplay,NaN,0.0
tt0369610,33,Jurassic World,FI,NaN,imdbDisplay,NaN,0.0
tt0369610,34,Jurassic World: Mundo jurásico,PE,NaN,imdbDisplay,NaN,0.0
tt0369610,35,Jurassic Park 4,TR,tr,NaN,informal alternative title,0.0
tt0369610,36,Jurassic Park IV,US,NaN,working,NaN,0.0
tt0369610,37,Jurassic World,NO,NaN,imdbDisplay,NaN,0.0
tt0369610,38,Jurski svet,SI,NaN,imdbDisplay,NaN,0.0
tt0369610,39,Свiт Юрського перiоду,UA,NaN,NaN,NaN,0.0
tt0369610,3,The Gioi Khung Long,VN,NaN,imdbDisplay,NaN,0.0
tt0369610,40,Jurassic World,DK,NaN,imdbDisplay,NaN,0.0
tt0369610,41,Svet iz doba jure,RS,NaN,imdbDisplay,NaN,0.0
tt0369610,42,Jurský svet,SK,NaN,NaN,NaN,0.0
tt0369610,43,Jurassic World,TR,tr,imdbDisplay,NaN,0.0
tt0369610,44,Jurassic Park 4,US,NaN,NaN,informal alternative title,0.0
tt0369610,45,Jurassic World,NaN,NaN,original,NaN,1.0
tt0369610,46,Jurassic World,ES,NaN,imdbDisplay,NaN,0.0
tt0369610,47,Jurassic World,HU,NaN,imdbDisplay,NaN,0.0
tt0369610,48,Park jurajski 4,PL,NaN,alternative,NaN,0.0
tt0369610,4,Yur dövrü Dünyasi,AZ,NaN,imdbDisplay,NaN,0.0
tt0369610,5,Iuruli periodis samyaro,GE,ka,imdbDisplay,NaN,0.0
tt0369610,6,Jurassic World,PL,NaN,imdbDisplay,NaN,0.0
tt0369610,7,Mundo Jurásico,UY,NaN,NaN,3-D version,0.0
tt0369610,8,Jurassic World 3D,PL,NaN,NaN,3-D version,0.0
tt0369610,9,Jurassic World - Mundo Jurásico,AR,NaN,imdbDisplay,NaN,0.0
tt0381957,1,Cloud Cuckoo Land,GB,NaN,NaN,NaN,0.0
tt0401729,10,Джон Картер: Мiж двох свiтiв,UA,NaN,NaN,NaN,0.0

In [27]:
imdb_name_basics_df.head(10)

,primary_name,birth_year,death_year,primary_profession,known_for_titles
nconst,,,,,
nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"
nm0062879,Ruel S. Bayani,NaN,NaN,"director,production_manager,miscellaneous","tt2590280,tt0352080,tt0216559,tt2057445"
nm0063198,Bayou,NaN,NaN,actor,"tt6579724,tt0093116"
nm0063432,Stevie Be-Zet,NaN,NaN,"composer,soundtrack","tt3106212,tt0478239,tt0264917,tt1626606"
nm0063618,Jeff Beal,1963.0,NaN,"composer,music_department,soundtrack","tt0183659,tt2545118,tt0384766,tt1856010"
nm0063750,Lindsay Beamish,NaN,NaN,"actress,miscellaneous","tt0404826,tt0111756,tt0367027,tt1492842"

In [28]:
imdb_title_basics_df.head(50)

,primary_title,original_title,start_year,runtime_minutes,genres
tconst,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy"
tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History"
tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography
tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama
tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History
tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary
tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama
tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary
tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History"
tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,NaN
tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama
tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama
tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery"
tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy"
tt0250404,Godfather,Godfather,2012,NaN,"Crime,Drama"
tt0253093,Gangavataran,Gangavataran,2018,134.0,NaN
tt0255820,Return to Babylon,Return to Babylon,2013,75.0,"Biography,Comedy,Drama"
tt0262218,Akakis mogzauroba,Akakis mogzauroba,2012,44.0,Documentary
tt0262759,Seven Jews from My Class,Siedmiu Zydów z mojej klasy,2018,40.0,Documentary
tt0263814,On kadin,On kadin,2019,NaN,Drama
tt0276568,To Chase a Million,To Chase a Million,2018,97.0,"Action,Drama"
tt0277964,Prague: The Restless Heart of Europe,Praha - neklidné srdce Evropy,2018,59.0,"Documentary,History"
tt0283440,Short Time Heroes,Kurzzeithelden,2015,45.0,Sci-Fi
tt0285252,Life's a Beach,Life's a Beach,2012,100.0,Comedy
tt0285423,Abolição,Abolição,2019,NaN,Documentary
tt0293069,Dark Blood,Dark Blood,2012,86.0,Thriller
tt0293429,Mortal Kombat,Mortal Kombat,2021,NaN,"Action,Adventure,Fantasy"
tt0297400,Snowblind,Snowblind,2015,NaN,"Crime,Drama"
tt0306058,Second Coming,Second Coming,2012,95.0,NaN
tt0311448,Lives No Longer Ours,Lives No Longer Ours,2011,90.0,"Drama,Romance"
tt0312305,Quantum Quest: A Cassini Space Odyssey,Quantum Quest: A Cassini Space Odyssey,2010,45.0,"Adventure,Animation,Sci-Fi"
tt0315642,Wazir,Wazir,2016,103.0,"Action,Crime,Drama"
tt0323808,The Wicker Tree,The Wicker Tree,2011,96.0,"Drama,Horror"
tt0326592,The Overnight,The Overnight,2010,88.0,NaN
tt0326965,In My Sleep,In My Sleep,2010,104.0,"Drama,Mystery,Thriller"
tt0328810,My Land,Aamaar Bhuvan,2018,102.0,"Drama,Family"
tt0329539,Rice Girl,Rice Girl,2014,95.0,"Adventure,Comedy,Romance"
tt0330811,Regret Not Speaking,Regret Not Speaking,2011,NaN,NaN
tt0330987,"Tiden är en dröm, del 2","Tiden är en dröm, del 2",2014,109.0,NaN
tt0331312,This Wretched Life,This Wretched Life,2010,99.0,"Comedy,Drama"
tt0331314,Bunyan and Babe,Bunyan and Babe,2017,84.0,"Adventure,Animation,Comedy"
tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance"
tt0337882,Blind Sided,Blind Sided,2010,NaN,"Comedy,Crime,Drama"

lang = tmdb_mgl_df.groupby(['original_language', 'original_title']).count()

lang