In [49]:
#necessary libraries and modules to import

import requests
import json
import sqlite3
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from glob import glob

In [50]:
#importing batch data using os

csv_files = glob("./zippedData/*.csv.gz")
csv_files

['./zippedData\\bom.movie_gross.csv.gz',
 './zippedData\\imdb.name.basics.csv.gz',
 './zippedData\\imdb.title.akas.csv.gz',
 './zippedData\\imdb.title.basics.csv.gz',
 './zippedData\\imdb.title.crew.csv.gz',
 './zippedData\\imdb.title.principals.csv.gz',
 './zippedData\\rt.movie_info.csv.gz',
 './zippedData\\rt.reviews.csv.gz',
 './zippedData\\tmdb.movies.csv.gz',
 './zippedData\\tn.movie_budgets.csv.gz']

In [51]:
# cleaning the filenames

csv_files_dict = {} #create a dictionary of datasets
for filename in csv_files: #create a for loop to batch clean files
    filename_cleaned = os.path.basename(filename).replace(".csv", "").replace(".", "_") #remove .csv file extensions
    filename_df = pd.read_csv(filename, index_col=0, encoding='utf-8') 
    csv_files_dict[filename_cleaned] = filename_df #load .csv file as dataframe using col 1 as index and encode in utf-8 and save as the cleaned filename

In [52]:
print(csv_files_dict.keys())

dict_keys(['bom_movie_gross_gz', 'imdb_name_basics_gz', 'imdb_title_akas_gz', 'imdb_title_basics_gz', 'imdb_title_crew_gz', 'imdb_title_principals_gz', 'rt_movie_info_gz', 'rt_reviews_gz', 'tmdb_movies_gz', 'tn_movie_budgets_gz'])

In [53]:
#loading datasets into dataframes from csv & json files

bom_movie_gross_df = csv_files_dict['bom_movie_gross_gz']
imdb_name_basics_df = csv_files_dict['imdb_name_basics_gz']
imdb_title_akas_df = csv_files_dict['imdb_title_akas_gz']
imdb_title_basics_df = csv_files_dict['imdb_title_basics_gz']
imdb_title_crew_df = csv_files_dict['imdb_title_crew_gz']
imdb_title_principals_df = csv_files_dict['imdb_title_principals_gz']
rotten_movie_info_df = csv_files_dict['rt_movie_info_gz']
rotten_movie_reviews_df = csv_files_dict['rt_reviews_gz']
tmdb_movies_df = csv_files_dict['tmdb_movies_gz']
tmdb_genre_ids_df = pd.read_json('tmdb_genre_ids.json')
tmdb_languages_df = pd.read_json('tmdb_languages.json')
tn_movie_budgets_df = csv_files_dict['tn_movie_budgets_gz']

In [55]:
tmdb_movies_df

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...
26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [56]:
tmdb_genre_ids_df

                                    genres
0             {'id': 28, 'name': 'Action'}
1          {'id': 12, 'name': 'Adventure'}
2          {'id': 16, 'name': 'Animation'}
3             {'id': 35, 'name': 'Comedy'}
4              {'id': 80, 'name': 'Crime'}
5        {'id': 99, 'name': 'Documentary'}
6              {'id': 18, 'name': 'Drama'}
7          {'id': 10751, 'name': 'Family'}
8            {'id': 14, 'name': 'Fantasy'}
9            {'id': 36, 'name': 'History'}
10            {'id': 27, 'name': 'Horror'}
11          {'id': 10402, 'name': 'Music'}
12         {'id': 9648, 'name': 'Mystery'}
13        {'id': 10749, 'name': 'Romance'}
14  {'id': 878, 'name': 'Science Fiction'}
15       {'id': 10770, 'name': 'TV Movie'}
16          {'id': 53, 'name': 'Thriller'}
17            {'id': 10752, 'name': 'War'}
18           {'id': 37, 'name': 'Western'}

In [54]:
tmdb_languages_df

    iso_639_1 english_name             name
0          xx  No Language      No Language
1          aa         Afar
2          af    Afrikaans        Afrikaans
3          ak         Akan
4          an    Aragonese
..        ...          ...              ...
182        bn      Bengali            বাংলা
183        bs      Bosnian         Bosanski
184        ch     Chamorro   Finu' Chamorro
185        be   Belarusian  беларуская мова
186        yo       Yoruba       Èdè Yorùbá

[187 rows x 3 columns]

In [12]:
print(os.getcwd())

C:\Users\jtang\Flatiron-Git\mod1\mod1_project\movie_industry_insights

In [58]:
#setup for API key from config.py

from config import joe_key_tmdb

In [60]:
#request api as json and set filename

tmdb_languages_json = requests.get('https://api.themoviedb.org/3/configuration/languages?api_key={}'.format(joe_key_tmdb)).json()

In [61]:
tmdb_languages_json

[{'iso_639_1': 'xx', 'english_name': 'No Language', 'name': 'No Language'},
 {'iso_639_1': 'aa', 'english_name': 'Afar', 'name': ''},
 {'iso_639_1': 'af', 'english_name': 'Afrikaans', 'name': 'Afrikaans'},
 {'iso_639_1': 'ak', 'english_name': 'Akan', 'name': ''},
 {'iso_639_1': 'an', 'english_name': 'Aragonese', 'name': ''},
 {'iso_639_1': 'as', 'english_name': 'Assamese', 'name': ''},
 {'iso_639_1': 'av', 'english_name': 'Avaric', 'name': ''},
 {'iso_639_1': 'ae', 'english_name': 'Avestan', 'name': ''},
 {'iso_639_1': 'ay', 'english_name': 'Aymara', 'name': ''},
 {'iso_639_1': 'az', 'english_name': 'Azerbaijani', 'name': 'Azərbaycan'},
 {'iso_639_1': 'ba', 'english_name': 'Bashkir', 'name': ''},
 {'iso_639_1': 'bm', 'english_name': 'Bambara', 'name': 'Bamanankan'},
 {'iso_639_1': 'bi', 'english_name': 'Bislama', 'name': ''},
 {'iso_639_1': 'bo', 'english_name': 'Tibetan', 'name': ''},
 {'iso_639_1': 'br', 'english_name': 'Breton', 'name': ''},
 {'iso_639_1': 'ca', 'english_name': 'Catalan', 'name': 'Català'},
 {'iso_639_1': 'cs', 'english_name': 'Czech', 'name': 'Český'},
 {'iso_639_1': 'ce', 'english_name': 'Chechen', 'name': ''},
 {'iso_639_1': 'cu', 'english_name': 'Slavic', 'name': ''},
 {'iso_639_1': 'cv', 'english_name': 'Chuvash', 'name': ''},
 {'iso_639_1': 'kw', 'english_name': 'Cornish', 'name': ''},
 {'iso_639_1': 'co', 'english_name': 'Corsican', 'name': ''},
 {'iso_639_1': 'cr', 'english_name': 'Cree', 'name': ''},
 {'iso_639_1': 'cy', 'english_name': 'Welsh', 'name': 'Cymraeg'},
 {'iso_639_1': 'da', 'english_name': 'Danish', 'name': 'Dansk'},
 {'iso_639_1': 'de', 'english_name': 'German', 'name': 'Deutsch'},
 {'iso_639_1': 'dv', 'english_name': 'Divehi', 'name': ''},
 {'iso_639_1': 'dz', 'english_name': 'Dzongkha', 'name': ''},
 {'iso_639_1': 'eo', 'english_name': 'Esperanto', 'name': 'Esperanto'},
 {'iso_639_1': 'et', 'english_name': 'Estonian', 'name': 'Eesti'},
 {'iso_639_1': 'eu', 'english_name': 'Basque', 'name': 'euskera'},
 {'iso_639_1': 'fo', 'english_name': 'Faroese', 'name': ''},
 {'iso_639_1': 'fj', 'english_name': 'Fijian', 'name': ''},
 {'iso_639_1': 'fi', 'english_name': 'Finnish', 'name': 'suomi'},
 {'iso_639_1': 'fr', 'english_name': 'French', 'name': 'Français'},
 {'iso_639_1': 'fy', 'english_name': 'Frisian', 'name': ''},
 {'iso_639_1': 'ff', 'english_name': 'Fulah', 'name': 'Fulfulde'},
 {'iso_639_1': 'gd', 'english_name': 'Gaelic', 'name': ''},
 {'iso_639_1': 'ga', 'english_name': 'Irish', 'name': 'Gaeilge'},
 {'iso_639_1': 'gl', 'english_name': 'Galician', 'name': 'Galego'},
 {'iso_639_1': 'gv', 'english_name': 'Manx', 'name': ''},
 {'iso_639_1': 'gn', 'english_name': 'Guarani', 'name': ''},
 {'iso_639_1': 'gu', 'english_name': 'Gujarati', 'name': ''},
 {'iso_639_1': 'ht', 'english_name': 'Haitian; Haitian Creole', 'name': ''},
 {'iso_639_1': 'ha', 'english_name': 'Hausa', 'name': 'Hausa'},
 {'iso_639_1': 'sh', 'english_name': 'Serbo-Croatian', 'name': ''},
 {'iso_639_1': 'hz', 'english_name': 'Herero', 'name': ''},
 {'iso_639_1': 'ho', 'english_name': 'Hiri Motu', 'name': ''},
 {'iso_639_1': 'hr', 'english_name': 'Croatian', 'name': 'Hrvatski'},
 {'iso_639_1': 'hu', 'english_name': 'Hungarian', 'name': 'Magyar'},
 {'iso_639_1': 'ig', 'english_name': 'Igbo', 'name': ''},
 {'iso_639_1': 'io', 'english_name': 'Ido', 'name': ''},
 {'iso_639_1': 'ii', 'english_name': 'Yi', 'name': ''},
 {'iso_639_1': 'iu', 'english_name': 'Inuktitut', 'name': ''},
 {'iso_639_1': 'ie', 'english_name': 'Interlingue', 'name': ''},
 {'iso_639_1': 'ia', 'english_name': 'Interlingua', 'name': ''},
 {'iso_639_1': 'id', 'english_name': 'Indonesian', 'name': 'Bahasa indonesia'},
 {'iso_639_1': 'ik', 'english_name': 'Inupiaq', 'name': ''},
 {'iso_639_1': 'is', 'english_name': 'Icelandic', 'name': 'Íslenska'},
 {'iso_639_1': 'it', 'english_name': 'Italian', 'name': 'Italiano'},
 {'iso_639_1': 'jv', 'english_name': 'Javanese', 'name': ''},
 {'iso_639_1': 'ja', 'english_name': 'Japanese', 'name': '日本語'},
 {'iso_639_1': 'kl', 'english_name': 'Kalaallisut', 'name': ''},
 {'iso_639_1': 'kn', 'english_name': 'Kannada', 'name': '?????'},
 {'iso_639_1': 'ks', 'english_name': 'Kashmiri', 'name': ''},
 {'iso_639_1': 'kr', 'english_name': 'Kanuri', 'name': ''},
 {'iso_639_1': 'kk', 'english_name': 'Kazakh', 'name': 'қазақ'},
 {'iso_639_1': 'km', 'english_name': 'Khmer', 'name': ''},
 {'iso_639_1': 'ki', 'english_name': 'Kikuyu', 'name': ''},
 {'iso_639_1': 'rw', 'english_name': 'Kinyarwanda', 'name': 'Kinyarwanda'},
 {'iso_639_1': 'ky', 'english_name': 'Kirghiz', 'name': '??????'},
 {'iso_639_1': 'kv', 'english_name': 'Komi', 'name': ''},
 {'iso_639_1': 'kg', 'english_name': 'Kongo', 'name': ''},
 {'iso_639_1': 'ko', 'english_name': 'Korean', 'name': '한국어/조선말'},
 {'iso_639_1': 'kj', 'english_name': 'Kuanyama', 'name': ''},
 {'iso_639_1': 'ku', 'english_name': 'Kurdish', 'name': ''},
 {'iso_639_1': 'lo', 'english_name': 'Lao', 'name': ''},
 {'iso_639_1': 'la', 'english_name': 'Latin', 'name': 'Latin'},
 {'iso_639_1': 'lv', 'english_name': 'Latvian', 'name': 'Latviešu'},
 {'iso_639_1': 'li', 'english_name': 'Limburgish', 'name': ''},
 {'iso_639_1': 'ln', 'english_name': 'Lingala', 'name': ''},
 {'iso_639_1': 'lt', 'english_name': 'Lithuanian', 'name': 'Lietuvių'},
 {'iso_639_1': 'lb', 'english_name': 'Letzeburgesch', 'name': ''},
 {'iso_639_1': 'lu', 'english_name': 'Luba-Katanga', 'name': ''},
 {'iso_639_1': 'lg', 'english_name': 'Ganda', 'name': ''},
 {'iso_639_1': 'mh', 'english_name': 'Marshall', 'name': ''},
 {'iso_639_1': 'ml', 'english_name': 'Malayalam', 'name': ''},
 {'iso_639_1': 'mr', 'english_name': 'Marathi', 'name': ''},
 {'iso_639_1': 'mg', 'english_name': 'Malagasy', 'name': ''},
 {'iso_639_1': 'mt', 'english_name': 'Maltese', 'name': 'Malti'},
 {'iso_639_1': 'mo', 'english_name': 'Moldavian', 'name': ''},
 {'iso_639_1': 'mn', 'english_name': 'Mongolian', 'name': ''},
 {'iso_639_1': 'mi', 'english_name': 'Maori', 'name': ''},
 {'iso_639_1': 'ms', 'english_name': 'Malay', 'name': 'Bahasa melayu'},
 {'iso_639_1': 'my', 'english_name': 'Burmese', 'name': ''},
 {'iso_639_1': 'na', 'english_name': 'Nauru', 'name': ''},
 {'iso_639_1': 'nv', 'english_name': 'Navajo', 'name': ''},
 {'iso_639_1': 'nr', 'english_name': 'Ndebele', 'name': ''},
 {'iso_639_1': 'nd', 'english_name': 'Ndebele', 'name': ''},
 {'iso_639_1': 'ng', 'english_name': 'Ndonga', 'name': ''},
 {'iso_639_1': 'ne', 'english_name': 'Nepali', 'name': ''},
 {'iso_639_1': 'nl', 'english_name': 'Dutch', 'name': 'Nederlands'},
 {'iso_639_1': 'nn', 'english_name': 'Norwegian Nynorsk', 'name': ''},
 {'iso_639_1': 'nb', 'english_name': 'Norwegian Bokmål', 'name': 'Bokmål'},
 {'iso_639_1': 'no', 'english_name': 'Norwegian', 'name': 'Norsk'},
 {'iso_639_1': 'ny', 'english_name': 'Chichewa; Nyanja', 'name': ''},
 {'iso_639_1': 'oc', 'english_name': 'Occitan', 'name': ''},
 {'iso_639_1': 'oj', 'english_name': 'Ojibwa', 'name': ''},
 {'iso_639_1': 'or', 'english_name': 'Oriya', 'name': ''},
 {'iso_639_1': 'om', 'english_name': 'Oromo', 'name': ''},
 {'iso_639_1': 'os', 'english_name': 'Ossetian; Ossetic', 'name': ''},
 {'iso_639_1': 'pi', 'english_name': 'Pali', 'name': ''},
 {'iso_639_1': 'pl', 'english_name': 'Polish', 'name': 'Polski'},
 {'iso_639_1': 'pt', 'english_name': 'Portuguese', 'name': 'Português'},
 {'iso_639_1': 'qu', 'english_name': 'Quechua', 'name': ''},
 {'iso_639_1': 'rm', 'english_name': 'Raeto-Romance', 'name': ''},
 {'iso_639_1': 'ro', 'english_name': 'Romanian', 'name': 'Română'},
 {'iso_639_1': 'rn', 'english_name': 'Rundi', 'name': 'Kirundi'},
 {'iso_639_1': 'ru', 'english_name': 'Russian', 'name': 'Pусский'},
 {'iso_639_1': 'sg', 'english_name': 'Sango', 'name': ''},
 {'iso_639_1': 'sa', 'english_name': 'Sanskrit', 'name': ''},
 {'iso_639_1': 'si', 'english_name': 'Sinhalese', 'name': 'සිංහල'},
 {'iso_639_1': 'sk', 'english_name': 'Slovak', 'name': 'Slovenčina'},
 {'iso_639_1': 'sl', 'english_name': 'Slovenian', 'name': 'Slovenščina'},
 {'iso_639_1': 'se', 'english_name': 'Northern Sami', 'name': ''},
 {'iso_639_1': 'sm', 'english_name': 'Samoan', 'name': ''},
 {'iso_639_1': 'sn', 'english_name': 'Shona', 'name': ''},
 {'iso_639_1': 'sd', 'english_name': 'Sindhi', 'name': ''},
 {'iso_639_1': 'so', 'english_name': 'Somali', 'name': 'Somali'},
 {'iso_639_1': 'st', 'english_name': 'Sotho', 'name': ''},
 {'iso_639_1': 'es', 'english_name': 'Spanish', 'name': 'Español'},
 {'iso_639_1': 'sq', 'english_name': 'Albanian', 'name': 'shqip'},
 {'iso_639_1': 'sc', 'english_name': 'Sardinian', 'name': ''},
 {'iso_639_1': 'sr', 'english_name': 'Serbian', 'name': 'Srpski'},
 {'iso_639_1': 'ss', 'english_name': 'Swati', 'name': ''},
 {'iso_639_1': 'su', 'english_name': 'Sundanese', 'name': ''},
 {'iso_639_1': 'sw', 'english_name': 'Swahili', 'name': 'Kiswahili'},
 {'iso_639_1': 'sv', 'english_name': 'Swedish', 'name': 'svenska'},
 {'iso_639_1': 'ty', 'english_name': 'Tahitian', 'name': ''},
 {'iso_639_1': 'ta', 'english_name': 'Tamil', 'name': 'தமிழ்'},
 {'iso_639_1': 'tt', 'english_name': 'Tatar', 'name': ''},
 {'iso_639_1': 'te', 'english_name': 'Telugu', 'name': 'తెలుగు'},
 {'iso_639_1': 'tg', 'english_name': 'Tajik', 'name': ''},
 {'iso_639_1': 'tl', 'english_name': 'Tagalog', 'name': ''},
 {'iso_639_1': 'th', 'english_name': 'Thai', 'name': 'ภาษาไทย'},
 {'iso_639_1': 'ti', 'english_name': 'Tigrinya', 'name': ''},
 {'iso_639_1': 'to', 'english_name': 'Tonga', 'name': ''},
 {'iso_639_1': 'tn', 'english_name': 'Tswana', 'name': ''},
 {'iso_639_1': 'ts', 'english_name': 'Tsonga', 'name': ''},
 {'iso_639_1': 'tk', 'english_name': 'Turkmen', 'name': ''},
 {'iso_639_1': 'tr', 'english_name': 'Turkish', 'name': 'Türkçe'},
 {'iso_639_1': 'tw', 'english_name': 'Twi', 'name': ''},
 {'iso_639_1': 'ug', 'english_name': 'Uighur', 'name': ''},
 {'iso_639_1': 'uk', 'english_name': 'Ukrainian', 'name': 'Український'},
 {'iso_639_1': 'ur', 'english_name': 'Urdu', 'name': 'اردو'},
 {'iso_639_1': 'uz', 'english_name': 'Uzbek', 'name': 'ozbek'},
 {'iso_639_1': 've', 'english_name': 'Venda', 'name': ''},
 {'iso_639_1': 'vi', 'english_name': 'Vietnamese', 'name': 'Tiếng Việt'},
 {'iso_639_1': 'vo', 'english_name': 'Volapük', 'name': ''},
 {'iso_639_1': 'wa', 'english_name': 'Walloon', 'name': ''},
 {'iso_639_1': 'wo', 'english_name': 'Wolof', 'name': 'Wolof'},
 {'iso_639_1': 'xh', 'english_name': 'Xhosa', 'name': ''},
 {'iso_639_1': 'yi', 'english_name': 'Yiddish', 'name': ''},
 {'iso_639_1': 'za', 'english_name': 'Zhuang', 'name': ''},
 {'iso_639_1': 'zu', 'english_name': 'Zulu', 'name': 'isiZulu'},
 {'iso_639_1': 'ab', 'english_name': 'Abkhazian', 'name': ''},
 {'iso_639_1': 'zh', 'english_name': 'Mandarin', 'name': '普通话'},
 {'iso_639_1': 'ps', 'english_name': 'Pushto', 'name': 'پښتو'},
 {'iso_639_1': 'am', 'english_name': 'Amharic', 'name': ''},
 {'iso_639_1': 'ar', 'english_name': 'Arabic', 'name': 'العربية'},
 {'iso_639_1': 'bg', 'english_name': 'Bulgarian', 'name': 'български език'},
 {'iso_639_1': 'cn', 'english_name': 'Cantonese', 'name': '广州话 / 廣州話'},
 {'iso_639_1': 'mk', 'english_name': 'Macedonian', 'name': ''},
 {'iso_639_1': 'el', 'english_name': 'Greek', 'name': 'ελληνικά'},
 {'iso_639_1': 'fa', 'english_name': 'Persian', 'name': 'فارسی'},
 {'iso_639_1': 'he', 'english_name': 'Hebrew', 'name': 'עִבְרִית'},
 {'iso_639_1': 'hi', 'english_name': 'Hindi', 'name': 'हिन्दी'},
 {'iso_639_1': 'hy', 'english_name': 'Armenian', 'name': ''},
 {'iso_639_1': 'en', 'english_name': 'English', 'name': 'English'},
 {'iso_639_1': 'ee', 'english_name': 'Ewe', 'name': 'Èʋegbe'},
 {'iso_639_1': 'ka', 'english_name': 'Georgian', 'name': 'ქართული'},
 {'iso_639_1': 'pa', 'english_name': 'Punjabi', 'name': 'ਪੰਜਾਬੀ'},
 {'iso_639_1': 'bn', 'english_name': 'Bengali', 'name': 'বাংলা'},
 {'iso_639_1': 'bs', 'english_name': 'Bosnian', 'name': 'Bosanski'},
 {'iso_639_1': 'ch', 'english_name': 'Chamorro', 'name': "Finu' Chamorro"},
 {'iso_639_1': 'be', 'english_name': 'Belarusian', 'name': 'беларуская мова'},
 {'iso_639_1': 'yo', 'english_name': 'Yoruba', 'name': 'Èdè Yorùbá'}]

#save json file to directory

with open('tmdb_languages.json', 'w') as f:
    json.dump(tmdb_languages_json, f)

print(type(tmdb_languages_json))
print(tmdb_languages_json.keys())

tmdb_languages_df = pd.read_json(r'C:\Users\jtang\Flatiron-Git\mod1\mod1_project\movie_industry_insights\tmdb_languagesqqq.json')